body {
  background-color: blueviolet;
  font-family:helvetica;
}
header {
  margin: auto;
  text-align:center;
  padding-top:4%;
  color:white;
}
p {
  font-size: 1.4rem;
}
form {
  margin: auto;
  width: 60%;
  padding:5%;
  background-color:rgb(24, 10, 104);
  color:white;
  border-radius: 30px;
}
label {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
personalinfo input {
width: 100%;
padding-top: 1%;
padding-bottom: 1%;
font-size: 1rem;
}