@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(44, 47, 90);
}
body * {
  font-family: "PT Serif", serif;
  font-size: 1.4rem;
  color: aliceblue;
  transition: 0.2s;
}
header {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  background-color: brown;
}
#navbar * {
  float: right;
  background-color: brown;
}
#navbar ul {
  list-style-type: none;
  margin: 0px;
  padding-right: 24px;
  padding-left: 24px;
}
#navbar li {
  display: inline-block;
  float: left;
}
#navbar li a {
  text-decoration: none;
  padding: 12px 24px 12px 24px;
  line-height: 60px;
}
#navbar li a:hover {
  background-color: rgb(44, 47, 90);
}
#welcome-section {
  height: 100vh;
  width: 100%;
}
#welcome-section h1 {
  padding-top: 15%;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 4px;
}
#welcome-section p {
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
}
#welcome-section i {
  font-size: 6rem;
  text-align: center;
  border-radius: 20px;
}
#welcome-section i:hover {
  color:gold;
  animation-name: welcome-section-i;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  }
@keyframes welcome-section-i{
    0% {
     box-shadow: none;
    }
    50% {
      box-shadow: 0px 0px 20px 5px white;;
    }
    100% {
     box-shadow: none;
    }
}
@media screen and (max-width: 480px) {
  #navbar li a {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 440px) {
  #navbar li a {
    padding: 6px 6px 6px 6px;
    line-height: 40px;
    font-size: 1rem;
  }
  #welcome-section h1 {
    font-size: 2.4rem;
  }
  #welcome-section p {
    font-size: 1.8rem;
  }
}
@media screen and (min-height: 600px) {
  #welcome-section h1 {
    font-size: 2.4rem;
    padding-top: 20%;
  }
  #welcome-section p {
    font-size: 1.8rem;
  }
  #navbar li a {
    line-height: 60px;
  }
}
@media screen and (min-height: 720px) {
  #welcome-section h1 {
    font-size: 2.4rem;
    padding-top: 30%;
  }
  #welcome-section p {
    font-size: 1.8rem;
  }
  #navbar li a {
    line-height: 60px;
  }
}
@media screen and (max-height: 420px) {
  #welcome-section h1 {
    font-size: 2.2rem;
    padding-top: 10%;
  }
  #welcome-section p {
    font-size: 1.6rem;
  }
  #navbar li a {
    line-height: 40px;
  }
}
@media screen and (max-height: 360px) {
  #welcome-section h1 {
    font-size: 1.8rem;
  }
  #welcome-section p {
    font-size: 1.4rem;
  }
}
