@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap");

body {
  background-image: linear-gradient(
    45deg,
    rgb(243, 243, 209),
    rgb(242, 220, 220)
  );
  background-size: auto;
}
body * {
  font-family: "Kaisei HarunoUmi", serif;
  border-radius: 10px;
  text-decoration: none;
  margin: 0;
  color: black;
}
li {
  font-size: 16px;
}
p {
  font-size: 14px;
}
header {
  size: 100%;
  height: fit-content;
  height: 60px;
  background-image: linear-gradient(
    90deg,
    rgb(228, 228, 188),
    rgb(232, 206, 206)
  );
}
#logo {
  width: fit-content;
  height: fit-content;
  margin: 5px 5px 5px 50px;
  float: left;
}
#header-img {
  width: 50px;
  height: auto;
}
h1 {
  text-transform: capitalize;
  float: left;
  font-size: 26px;
  margin: 0px;
  line-height: 60px;
}
nav {
  float: right;
}
main,
footer {
  margin: auto;
  margin-top: 60px;
  max-width: 1400px;
}
h2,
form {
  margin: auto;
}
h2 {
  width: 60%;
  text-align: center;
  font-size: 24px;
  text-transform: initial;
}
form {
  width: fit-content;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}
#email {
  width: 240px;
  height: 24px;
  outline: none;
  padding: 4px 0px 4px 6px;
}
#email::placeholder {
  font-size: 16px;
  text-transform: unset;
}
form p {
  width: fit-content;
  margin: auto;
}
#submit {
  background-color: rgb(237, 216, 100);
  margin: auto;
  margin-top: 16px;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  padding: 2px 24px 2px 24px;
}
#submit:hover {
  cursor: pointer;
}
.box-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.box-one {
  width: 20%;
  max-width: 200px;
  justify-content: center;
  text-align: center;
}
.box-one img {
  height: 70px;
}
.box-two {
  width: 80%;
  max-width: 1200px;
}
.box-two h2 {
  text-align: left;
  margin: 0;
  padding-top: 0px;
}
iframe {
  display: block;
  width: 560px;
  margin: auto;
}
#grid {
  display: grid;
  width: 100%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
  grid-template-columns: 1fr 280px 280px 280px 1fr;
  gap: 12px;
}
.grid-box {
  border: 1px solid black;
}
.grid-box * {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
h3 {
  background-color: rgb(220, 218, 218);
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px;
}
.price {
  font-weight: bold;
  font-size: 22px;
}
.grid-box a {
  text-transform: uppercase;
  padding: 6px 24px 6px 24px;
  background-color: rgb(237, 216, 100);
  font-size: 18px;
}
.grid-box p {
  text-transform: capitalize;
}
.select {
  padding-top: 24px;
  padding-bottom: 24px;
}
.animation:hover {
  animation-name: button-animation;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
@keyframes button-animation {
  0% {
    background-color: gold;
  }
  100% {
    background-color: rgb(232, 177, 110);
  }
}
footer {
  width: 80%;
  min-width: 280px;
  background-color: rgb(220, 218, 218);
}
