body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: lightgrey;
  color: black;
  text-align: center;
}
body* {
  min-width: 180px;
}
main {
  width: 98%;
  margin: auto;
  background-color: lightgrey;
  padding: 2%;
}
header, footer, article, figure {
  min-width: 180px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 2.2em;
}
p {
  font-size: 1.1em;
}
figure {
  width: 36%;
  max-width: 340px;
  background-color: rgb(240, 240, 240);
  height: auto;
  padding: 2%;
}
img {
  width: 100%;
  max-width: 320px;
  height: auto;
  text-align: center;
}
figcaption {
  padding-top: 2%;
}
article {
  width: 80%;
  max-width: 720px;
  padding-right: 5%;
  padding-left: 5%;
}
h2 {
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 1.3em;
}
ul {
  text-align: left;
}
li {
  padding-bottom: 0.8em;
  font-size: 1.1em;
}
article p {
  padding-left: 4%;
  text-align: left;
}
footer {
  padding: 2%;
}
hr {
  height: 2px;
  width: 60%;
  background-color: black;
}
@media (max-width: 560px) {
  p, li {
    font-size: 1em;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.2em;
  }
  article {
    width: 96%;
    padding-right: 2%;
    padding-left: 2%;
  }
}
