body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: lightgrey;
  color: black;
  text-align: center;
}
main, header, footer, article, figure {
  margin-left: auto;
  margin-right: auto;
  min-width: 220px;
  padding: 2%;
}
main {
  background-color: lightgrey;
  padding-bottom: 2%;
}
h1 {
  font-size: 2.2em;
}
p {
  font-size: 1.1em;
}
article {
  max-width: 720px;
}
figure {
  max-width: 340px;
  background-color: rgb(240, 240, 240);
  height: auto;
  padding: 2%;
}
img {
  width: 100%;
  max-width: 340px;
  height: auto;
  text-align: center;
}
figcaption {
  padding-top: 2%;
}
article {

}
h2 {
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 1.3em;
}
ul {
  text-align: left;
}
li {
  padding-bottom: 0.8em;
  font-size: 1.1em;
}
article p {
  padding-left: 2%;
  text-align: left;
}
footer {
  padding-top: 3%;
}
hr {
  height: 2px;
  width: 60%;
  background-color: black;
}
@media (max-width: 480px) {
  p, li {
    font-size: 1em;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.1em;
  }
  figure {
    width: 100%;
  }
  article {
    width: 100%;
  }
  footer {
    font-size: 1em;
  }
}